---
name: go test

on:
  push:
    branches:
      - main
    paths-ignore:
      - README*
      - LICENSE
      - '**.md'
  pull_request:
    paths-ignore:
      - README*
      - LICENSE
      - '**.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
          # - macOS-latest
        go:
          - '1.16'
          - '1.17'
          - '1.x'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - run: go build
      - run: go install
      - run: go test -cover ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.31
          args: --issues-exit-code=0
          only-new-issues: true
